@use './assets/styles/_colors.scss';
@use './assets/styles/_fonts.scss';

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: colors.$background-spring;
    width: 100%;

    h1, p {
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
    }
    h1 {
        margin-top: 200px;
    }
    .frames {
        height: 100vh;
        border: solid .5px grey;
        display: flex;
        flex-direction: column;
    }
    .ground {
        margin-top: auto;
    }
    #frame3{
        background-color: colors.$background-summerBlue;
    }
    #frame4{
        background-color: colors.$background-summerRed;
    }
    #frame5{
        background-color: colors.$background-summerBlue;
    }
    #frame6{
        background-color: colors.$background-autumnLight;
    }
    #frame7{
        background-color: colors.$background-autumnDark;
    }
    #frame8{
        background-color: colors.$background-autumnDark;
    }
    #frame9{
        background-color: colors.$background-winter;
    }
    #frame10{
        background-color: colors.$background-winter;
    }
    #frame11{
        background-color: colors.$background-winter;
    }
}

