@import 'assets/styles/_animations.scss';
@import 'assets/styles/_colors.scss';

* {
    padding: 0;
    margin: 0;
}

@media (prefered-reduced-motion) {
    .circle, .square, .rectangle {
        animation: none;
    }
}
@media (prefers-color-scheme:dark) {
    .figureLisa {
        background-color: #364f4f;
        
        .circle {
            background-color: #cbf1f2;
        }
    }
    .figureAlexandra {
        background: #46374a;

        .square {
            background:rgb(107, 31, 107);
        }
    }
    .figureFadumo {
        background: #354733;
        
        .rectangle{
            background-color: #adcfa9;
        }
    }
}
@media (orientation: landscape) {
    .circle {
        background-color: blueviolet;
    }
    .square {
        background:rgb(118, 119, 214);
    }
    .rectangle {
        background: rgb(141, 160, 56);
    }
}
/* Helping source: https://www.youtube.com/watch?v=hObPr5IfFVU&t=257s */