@use './assets/styles/_colors.scss';
@use './assets/styles/_fonts.scss';
@use './assets/styles/_figures.scss';

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: colors.$background-spring;
    width: 100%;

    h1, p {
        margin: 0 auto;
        text-align: center;
    }
    .frames {
        height: 55vw;
        border: solid .5px grey;
    }
    #frame1{
        display: flex;
        flex-direction: column;
            
        #ground {
            margin-top: auto;
        }
    }
    #frame2{
        
    }
    #frame3{
        background-color: colors.$background-summerBlue;
    }
    #frame4{
        background-color: colors.$background-summerRed;
    }
    #frame5{
        background-color: colors.$background-summerBlue;
    }
    #frame6{
        background-color: colors.$background-autumnLight;
    }
    #frame7{
        background-color: colors.$background-autumnDark;
    }
    #frame8{
        background-color: colors.$background-autumnDark;
    }
    #frame9{
        background-color: colors.$background-winter;
    }
    #frame10{
        background-color: colors.$background-winter;
    }
    #frame11{
        background-color: colors.$background-winter;
    }
}

