@use './styles/colors.scss';
@use './styles/_fonts.scss';

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: colors.$background-spring;
    width: 100%;

    h1, p {
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
    }
    h1 {
        margin-top: 200px;
    }
    .frames {
        height: 100vh;
        border: solid .5px grey;
        display: flex;
        flex-direction: column;
    }
    .ground {
        margin-top: auto;
    }
    #frame1 {
        .ground1 {
            fill: #79D186;
        }

    }
    #frame2 {
        .ground2 {
            fill: #79D186;
        }
    }
    #frame3{
        background-color: colors.$background-summerBlue;
        
        .ground3 {
            fill: #79D186;
        }
    }
    #frame4{
        background-color: colors.$background-summerRed;

        .ground4 {
            fill: #79D186;
        }
    }
    #frame5{
        background-color: colors.$background-summerBlue;

        .ground5 {
            fill: #79D186;
        }
    }
    #frame6{
        background-color: colors.$background-autumnLight;

        .ground6 {
            fill: #79D186;
        }
    }
    #frame7{
        background-color: colors.$background-autumnDark;

        .ground7 {
            fill: #79D186;
        }
    }
    #frame8{
        background-color: colors.$background-autumnDark;

        .ground8 {
            fill: #79D186;
        }
    }
    #frame9{
        background-color: colors.$background-winter;

        .ground9 {
            fill: #79D186;
        }
    }
    #frame10{
        background-color: colors.$background-winter;

        .ground10 {
            fill: #79D186;
        }
    }
    #frame11{
        background-color: colors.$background-winter;

        .ground11 {
            fill: #79D186;
        }
    }
}

