@keyframes jump {
    0%, 100% {
        transform:translateY(0)
    }
    50% {
        transform: translateY(-60px)
    }
} 
@keyframes slideinout {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(90%) translateY(90%);
      background:rgb(214, 118, 214);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(50deg);
    }
}