//Main colors

$background-spring: #B5E0EA;
$background-summerBlue: #70E6F2;
$background-summerRed: #F2A5A5;
$background-autumnLight: #BDD6D4;
$background-autumnDark: #9BAAA7;
$background-winter: #83C2CC;
$title: #575757;


//Prefers dark colors

$background-springDark: #508494;
$background-summerDark: #3e4f66;
$background-fallDark: #1e2835;
$background-winterDark:#1e2836;

//Prefers darkcolors (ground fill)

$fill-springDark : #4d995e;
$fill-summerDark: #198b32;
$fill-fallDark: #aa6210;
$fill-winterDark: #82afbd;

