//Colors

$background-spring: #B5E0EA;
$background-summerBlue: #70E6F2;
$background-summerRed: #F2A5A5;
$background-autumnLight: #BDD6D4;
$background-autumnDark: #9BAAA7;
$background-winter: #83C2CC;
$title: #575757;