$backgroundLisa: #cbf1f2;
$backgroundAlexandra1: rgb(215, 238, 241);
$backgroundAlexandra2: rgb(228, 192, 228);
$backgroundFadumo: #d4f2c7;

$figureColorLisa: #406c6e;
$figureColorAlexandra: rgb(118, 136, 214);
$figureColorFadumo: #728a67;