@import './assets/styles/_colors.scss';

figure { 
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figureLisa {
    background-color: $backgroundLisa;
    
    .circle {
        top: 200px;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background-color: $figureColorLisa;
        animation: jump 1s infinite;
    }
}
.figureAlexandra {
    background: linear-gradient($backgroundAlexandra1,$backgroundAlexandra2);

    .square {
        height:150px;
        width:150px;
        background-color: $figureColorAlexandra;
        animation: slideinout;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
.figureFadumo {
    background-color: $backgroundFadumo;

    .rectangle {
        height: 300px;
        width: 450px;
        border-radius: 15px;
        background-color: $figureColorFadumo;
        animation: spin 2s ease 0s infinite alternate;
    }
}