//Fonts

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

$fontLibreBaskerville: 'Libre Baskerville', serif;
$fontRaleway: 'Raleway', sans-serif;
$fontJosefinSans: 'Josefin Sans', sans-serif;
