//Styling: Raindrops and Snowfall


//Raindrops

.frames__raindrops {
    position: absolute;
    left: 10px;
    width: .5px;
    height: 25px;
    background: white;
    transform: rotate(10deg);
    z-index: 101;
}

.raindrops--rain1,
.raindrops--rain4,
.raindrops--rain7,
.raindrops--rain9,
.raindrops--rain14,
.raindrops--rain16 {
    animation: raindrop 1.5s infinite;
}

.raindrops--rain2,
.raindrops--rain6,
.raindrops--rain10,
.raindrops--rain15,
.raindrops--rain20 {
    animation: raindrop 2s infinite;
}

.raindrops--rain3,
.raindrops--rain8,
.raindrops--rain11,
.raindrops--rain19,
.raindrops--rain17 {
    animation: raindrop .5s infinite;
}

.raindrops--rain5,
.raindrops--rain13,
.raindrops--rain18,
.raindrops--rain12 {
    animation: raindrop 1s infinite;
}

.raindrops--rain2,
.snowflakes--flake2 {
    margin-left: -15%;
}

.raindrops--rain3,
.snowflakes--flake3 {
    margin-left: -10%;
}

.raindrops--rain4,
.snowflakes--flake4 {
    margin-left: 5%;
}

.raindrops--rain5,
.snowflakes--flake5 {
    margin-left: 10%;
}

.raindrops--rain6,
.snowflakes--flake6 {
    margin-left: 15%;
}

.raindrops--rain7,
.snow7 {
    margin-left: 20%;
}

.raindrops--rain8,
.snowflakes--flake8 {
    margin-left: 20%;
}

.raindrops--rain9,
.snowflakes--flake9 {
    margin-left: 25%;
}

.raindrops--rain10,
.snowflakes--flake10 {
    margin-left: 35%;
}

.raindrops--rain11,
.snowflakes--flake11 {
    margin-left: 40%;
}

.raindrops--rain12,
.snowflakes--flake12 {
    margin-left: 45%;
}

.raindrops--rain13,
.snowflakes--flake13 {
    margin-left: 50%;
}

.raindrops--rain14,
.snowflakes--flake14 {
    margin-left: 55%;
}

.raindrops--rain15,
.snowflakes--flake15 {
    margin-left: 60%;
}

.raindrops--rain16,
.snowflakes--flake16 {
    margin-left: 65%;
}

.raindrops--rain17,
.snowflakes--flake17 {
    margin-left: 70%;
}

.raindrops--rain18,
.snowflakes--flake18 {
    margin-left: 75%;
}

.raindrops--rain19,
.snowflakes--flake19 {
    margin-left: 80%;
}

.raindrops--rain20,
.snowflakes--flake20 {
    margin-left: 90%;
}


//Snowflakes

.frames__snowflakes {
    position: absolute;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    z-index: 101;
}

.snowflakes--flake1,
.snowflakes--flake4,
.snowflakes--flake7,
.snowflakes--flake9,
.snowflakes--flake14,
.snowflakes--flake16 {
    animation: snowflake 4s infinite;
}

.snowflakes--flake2,
.snowflakes--flake6,
.snowflakes--flake10,
.snowflakes--flake15,
.snowflakes--flake20 {
    animation: snowflake 6s infinite;
}

.snowflakes--flake3,
.snowflakes--flake8,
.snowflakes--flake11,
.snowflakes--flake19,
.snowflakes--flake17 {
    animation: snowflake 5s infinite;
}

.snowflakes--flake5,
.snowflakes--flake13,
.snowflakes--flake18,
.snowflakes--flake12 {
    animation: snowflake 8s infinite;
}