@use './colors';
@use './fonts';
@use './animation';
@use './scrollmagic';
@use './stylesRainSnow';
@use './stylesFrames';
@use './mediaQuieries';


* {
    padding: 0;
    margin: 0;
}




body {
    width: 100%;
    
    #infoBtn {
        z-index: 200;
        position: fixed;
        border: none;
        background-color: white;
        font-family: fonts.$fontJosefinSans;
        font-size: 18px;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        margin-top: 3vh;
        margin-left: 2vw;
    }

    #infoBtn:hover, #topBtn:hover {
        background-color: black;
        color:white;
        transition-duration:1s;
    }
    #infoFrame {
    
        position: fixed;
        background-color: white;
        height: 410px;
        width: 400px;
        margin: 0 auto;
        z-index: 300;
        margin-top: 27vh;
        margin-left: 1vw;
        overflow:scroll;
        border-radius:10px;
        padding: 10px;
        border: .5px dotted rgb(151, 151, 151);
        padding-bottom: 80px;
       
       
       

        h1 {
            margin-top: 20px;
            padding-bottom: 10px;
            font-size: 20px;
        }
        p {
            font-size: 18px;
            line-height: 25px;
            max-width:80ch;
            width:70%;
        }

        #closeBtn {
        z-index: 300;
        position: absolute;
        border: none;
        background-color: black;
        color:white;
        font-family: fonts.$fontJosefinSans;
        font-size: 18px;
        cursor: pointer;
        margin-top: 30px;
        margin-left: -10px;
        height:50px;
        width:60px;
        border-radius:5px;
        
        }

        #closeBtn:hover {
            background-color: white;
            color:black;
        }

       
    }

    #topBtn {
        z-index: 100;
        position: absolute;
        border: none;
        background-color: white;
        color:black;
        font-family: fonts.$fontJosefinSans;
        font-size: 18px;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        margin-top: 90vh;
        margin-left: 90vw;
        
    }

   

    h1,
    p {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

#aboutText {
    display: none;
}

    p {
        font-family: fonts.$fontJosefinSans;
        font-size: 25px;
        max-width: 500px;
        line-height: 35px;
        font-weight: 1000;
       
    }

    h1 {
        margin-top: 280px;
        font-family: fonts.$fontLibreBaskerville;
        color: colors.$title;
    }
    .info-txt {
        margin-top: 200px;
        max-width: 400px;
        line-height: 35px;
        font-size: 25px;
    }

    .globalwarming {
        margin-top: 200px;
    }

    .info {
        font-size: 18px;
        line-height: 30px;
        max-width: 500px;
    }

    .h1frame2 {
        max-width: 500px;
        font-size: 25px;
        margin-top: 190px;
        line-height: 40px;
    }

    .pframe2 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }
    .h1frame9 {
        margin-top: 190px;
    }

    .pframe2 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }
    .pframe10 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }
    .pframe11 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }

    .frames {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .ground {
        margin-top: auto;
        bottom: 0;
        width: 100%;
        position: fixed;

    }

    .tree,
    .pinetree,
    .cloud,
    .pinetreeSmall,
    .lightning,
    .lightningS,
    .tornado,
    .tornado2,
    .cloud2,
    .bird1,
    .bird2 {
        width: 240px;
        margin-top: 230px;
        z-index: 100;
        position: absolute;
    }

    .tree {
        width: 300px;
        left: 1000px;
        margin-top: 250px;
        position: absolute;

    }

    .pinetree {
        left: 50px;
        width: 220px;
        margin-top: 370px;
        position: absolute;
    }

    .pinetreeSmall {
        width: 140px;
        left: 250px;
        margin-top: 390px;
        position: absolute;
    }

    .cloud {
        margin-top: 50px;
        width: 200px;
        animation: cloud 6s infinite;
    }

    .cloud2 {
        margin-top: 100px;
        animation: cloud2 6s infinite;
    }

    .sunsky {
        width: 190px;
        margin-top: 20px;
    }

    .sun {
        margin-top: 10px;
        width: 250px;
    }

    .earth {
        width: 120px;
        margin-left: 900px;
        margin-top: -350px;
        animation: earth 5s ease;
    }

    .bunny {
        max-width: 80px;
        left: 250px;
        margin-top: 650px;
        position: absolute;
        z-index: 100;
        animation: bunny 10s infinite;
    }

    .bird1,
    .bird2 {
        max-width: 50px;
        z-index: 200;
    }

    .bird1 {
        animation: bird1 10s infinite;
    }

    .bird2 {
        animation: bird2 10s infinite;
    }

    .flame1,
    .flame2,
    .flame3 {
        z-index: 100;
        position: absolute;
    }

    .flame1 {
        margin-left: 50px;
        margin-top: 590px;
        max-width: 120px;
        animation: flame1 2s infinite;
    }

    .flame2 {
        margin-left: 220px;
        margin-top: 520px;
        max-width: 100px;
        animation: flame2 2s infinite;
    }

    .flame3 {
        margin-left: 420px;
        margin-top: 550px;
        max-width: 150px;
        animation: flame3 2s infinite;
    }
    .statometer {
        z-index: 100;
        position: absolute;
        margin-left: 700px;
        margin-top: 80px;
        max-width: 15px;
        animation: text s ease-in;
    }
    .heatwave {
        z-index: 100;
        position: absolute;
        max-width: 100px;
    } 
    .wave1 {
        margin-left: 420px;
        margin-top: 580px;
        animation: heatwave1 4s infinite;

    }
    .wave2 {
        margin-left: 620px;
        margin-top: 500px;
        animation: heatwave2 4s infinite;
    }
    .wave3 {
        margin-left: 820px;
        margin-top: 590px;
        animation: heatwave3 4s infinite;
    }


    .lightning,
    .lightningS {
        width: 30px;
        margin-left: 150px;
        margin-top: 120px;
        z-index: 80;
        animation: lightning 6s infinite;

    }


    .lightningS {
        margin-left: 170px;
        margin-top: 200px;

    }

    .tornado,
    .tornado2 {
        width: 80px;
        margin-left: 40px;
        margin-top: 340px;
        animation: tornado 6s infinite;
        z-index: 100;
    }

    .tornado2 {
        animation: tornado2 4s infinite;
        z-index: 99;
    }


    .flower-div {
        position: absolute;
        width: 400px;
        z-index: 100;
        margin-left: 700px;
        margin-top: 490px;
        height: 100px;
        display: flex;
        flex-direction: row;

        .flower {
            width: 30px;

        }

        .flower1 {
            margin-bottom: 35px;
        }

        .flower2 {
            margin-bottom: 15px;
        }

        .flower3 {
            margin-bottom: 20px;
        }

        .flower4 {
            margin-bottom: -5px;
        }

        .flower5 {
            margin-bottom: -20px;
        }

        .flower6 {
            margin-bottom: -40px;
        }

        .flower7 {
            margin-bottom: -35px;
        }

        .flower8 {
            margin-bottom: -65px;
        }
    }
    .windWinter {
        height: 100px;
        width: 100px;
        position: relative;
        z-index: 300;
        animation-name: windd;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        
    }

    .snowmanWinter {
        height: 100px;
        width: 100px;
        position: relative;
        animation-name: jump;
        animation-duration: 5s;
       
    }

    .snowmanWinter2 {
        height: 80px;
        width: 80px;
        margin-top: -80px;
        margin-left: 75px;
        position: relative;
        animation-name: jump;
        animation-duration: 5s;

    }

    .snowmanWinter3 {
        height: 60px;
        width: 80px;
        margin-top: -60px;
        margin-left: 135px;
        position: relative;
        animation-name: jump;
        animation-duration: 5s;
    }
}