@use './colors.scss';
@use './fonts.scss';

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: colors.$background-spring;
    width: 100%;

    h1,
    p {
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        
    }

    p {
        font-family: fonts.$fontJosefinSans;
        font-size:20px;
    }

    h1 {
        margin-top: 200px;
        font-family: fonts.$fontLibreBaskerville;
    }

    .frames {
        height: 100vh;
        border: solid .5px grey;
        display: flex;
        flex-direction: column;
    }

    .ground {
        margin-top: auto;
        width: 100%;
        display: block;
        
    }

    .three, .pinetree, .cloud, .pinetreeSmall {
        width: 240px;
        margin-top: 230px;
        z-index: 100;
        position: absolute; 
    }

    .three {
        width: 300px;
        left: 1000px;
        margin-top: 240px;
    }

    .pinetree {
        left:50px;
        width:220px;
        margin-top:300px;
    }
    
    .pinetreeSmall {
        width:140px;
        left:250px;
        margin-top:300px;
    }
    
    .cloud {
        margin-top:40px;
        left:400px;
        width:200px; 
    }

    #frame1 {
        .ground1 {
            fill: #79D186;
        }
    }

    #frame2 {
        .ground2 {
            fill: #79D186;
        }
    }

    #frame3 {
        background-color: colors.$background-summerBlue;

        .ground3 {
            fill: #8EEA81;
        }
    }

    #frame4 {
        background-color: colors.$background-summerRed;

        .ground4 {
            fill: #8EEA81;
        }
    }

    #frame5 {
        background-color: colors.$background-summerBlue;

        .ground5 {
            fill: #8EEA81;
        }
    }

    #frame6 {
        background-color: colors.$background-autumnLight;

        .ground6 {
            fill: #E0A53D;
        }
    }

    #frame7 {
        background-color: colors.$background-autumnDark;

        .ground7 {
            fill: #E0A53D;
        }
    }

    #frame8 {
        background-color: colors.$background-autumnDark;

        .ground8 {
            fill: #E0A53D;
        }
    }

    #frame9 {
        background-color: colors.$background-winter;

        .ground9 {
            fill: #DAF6F7;
        }
    }

    #frame10 {
        background-color: colors.$background-winter;

        .ground10 {
            fill: #DAF6F7;
        }
    }

    #frame11 {
        background-color: colors.$background-winter;

        .ground11 {
            fill: #DAF6F7;
        }
    }
}