@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #B5E0EA;
  width: 100%;
}
body h1,
body p {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
body p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  max-width: 430px;
  line-height: 35px;
  font-weight: 1000;
}
body h1 {
  margin-top: 280px;
  font-family: "Libre Baskerville", serif;
  color: #575757;
}
body .frames {
  height: 100vh;
  border: solid 0.5px grey;
  display: flex;
  flex-direction: column;
}
body .ground {
  margin-top: auto;
  width: 100%;
  display: block;
}
body .tree, body .pinetree, body .cloud, body .pinetreeSmall, body .lightning, body .lightningS, body .tornado {
  width: 240px;
  margin-top: 230px;
  z-index: 100;
  position: absolute;
}
body .tree {
  width: 300px;
  left: 1000px;
  margin-top: 250px;
}
body .pinetree {
  left: 50px;
  width: 220px;
  margin-top: 370px;
}
body .pinetreeSmall {
  width: 140px;
  left: 250px;
  margin-top: 390px;
}
body .cloud {
  margin-top: 50px;
  left: 300px;
  width: 200px;
}
body .sunsky {
  width: 190px;
  margin-top: 20px;
}
body .sun {
  margin-top: 10px;
  width: 250px;
}
body .lightning, body .lightningS {
  width: 30px;
  margin-left: 330px;
  margin-top: 120px;
  z-index: 80;
}
body .lightningS {
  margin-left: 350px;
  margin-top: 200px;
}
body .tornado {
  width: 80px;
  margin-left: 40px;
  margin-top: 340px;
}
body .info-txt {
  margin-top: 280px;
  max-width: 400px;
  line-height: 35px;
  font-size: 25px;
}
body .flower-div {
  position: absolute;
  width: 400px;
  z-index: 100;
  margin-left: 700px;
  margin-top: 490px;
  height: 100px;
  display: flex;
  flex-direction: row;
}
body .flower-div .flower {
  width: 30px;
}
body .flower-div .flower1 {
  margin-bottom: 35px;
}
body .flower-div .flower2 {
  margin-bottom: 15px;
}
body .flower-div .flower3 {
  margin-bottom: 20px;
}
body .flower-div .flower4 {
  margin-bottom: -5px;
}
body .flower-div .flower5 {
  margin-bottom: -20px;
}
body .flower-div .flower6 {
  margin-bottom: -40px;
}
body .flower-div .flower7 {
  margin-bottom: -35px;
}
body .flower-div .flower8 {
  margin-bottom: -65px;
}
body #frame1 .ground1 {
  fill: #79D186;
}
body #frame2 .ground2 {
  fill: #79D186;
}
body #frame3 {
  background-color: #70E6F2;
}
body #frame3 .ground3 {
  fill: #8EEA81;
}
body #frame4 {
  background-color: #F2A5A5;
}
body #frame4 .ground4 {
  fill: #8EEA81;
}
body #frame5 {
  background-color: #70E6F2;
}
body #frame5 .ground5 {
  fill: #8EEA81;
}
body #frame6 {
  background-color: #BDD6D4;
}
body #frame6 .ground6 {
  fill: #E0A53D;
}
body #frame7 {
  background-color: #9BAAA7;
}
body #frame7 .ground7 {
  fill: #E0A53D;
}
body #frame8 {
  background-color: #9BAAA7;
}
body #frame8 .ground8 {
  fill: #E0A53D;
}
body #frame9 {
  background-color: #83C2CC;
}
body #frame9 .ground9 {
  fill: #DAF6F7;
}
body #frame10 {
  background-color: #83C2CC;
}
body #frame10 .ground10 {
  fill: #DAF6F7;
}
body #frame11 {
  background-color: #83C2CC;
}
body #frame11 .ground11 {
  fill: #DAF6F7;
}/*# sourceMappingURL=styles.css.map */