@use './colors.scss';
@use './fonts.scss';
@use './animation';
@use './scrollyMagic';
@use './mediaQuieries';
@use './stylesRaindrops';
@use './stylesFrames';

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;


    h1,
    p {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

    p {
        font-family: fonts.$fontJosefinSans;
        font-size: 25px;
        max-width: 430px;
        line-height: 35px;
        font-weight: 1000;
    }

    h1 {
        margin-top: 280px;
        font-family: fonts.$fontLibreBaskerville;
        color: colors.$title;
    }

    .globalwarming {
        margin-top: 200px;
    }

    .info {
        font-size: 18px;
        line-height: 30px;
        max-width: 500px;
    }

    .h1frame2 {
        max-width: 500px;
        font-size: 25px;
        margin-top: 190px;
        line-height: 40px;
    }

    .pframe2 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }

    .frames {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .ground {
        margin-top: auto;
        bottom: 0;
        width: 100%;
        position: fixed;

    }

    .tree,
    .pinetree,
    .cloud,
    .pinetreeSmall,
    .lightning,
    .lightningS,
    .tornado,
    .tornado2,
    .cloud2,
    .bird1,
    .bird2 {
        width: 240px;
        margin-top: 230px;
        z-index: 100;
        position: absolute;
    }

    .tree {
        width: 300px;
        left: 1000px;
        margin-top: 250px;
        position: absolute;

    }

    .pinetree {
        left: 50px;
        width: 220px;
        margin-top: 370px;
        position: absolute;
    }

    .pinetreeSmall {
        width: 140px;
        left: 250px;
        margin-top: 390px;
        position: absolute;
    }

    .cloud {
        margin-top: 50px;
        width: 200px;
        animation: cloud 6s infinite;
    }

    .cloud2 {
        margin-top: 100px;
        animation: cloud2 6s infinite;
    }

    .sunsky {
        width: 190px;
        margin-top: 20px;
    }

    .sun {
        margin-top: 10px;
        width: 250px;
    }

    .earth {
        width: 120px;
        margin-left: 900px;
        margin-top: -350px;
        animation: earth 5s ease;
    }

    .bunny {
        max-width: 80px;
        left: 250px;
        margin-top: 650px;
        position: absolute;
        z-index: 100;
        animation: bunny 10s infinite;
    }

    .bird1,
    .bird2 {
        max-width: 50px;
        z-index: 200;
    }

    .bird1 {
        animation: bird1 10s infinite;
    }

    .bird2 {
        animation: bird2 10s infinite;
    }

    .flame1,
    .flame2,
    .flame3 {
        z-index: 100;
        position: absolute;
    }

    .flame1 {
        margin-left: 50px;
        margin-top: 590px;
        max-width: 120px;
        animation: flame1 2s infinite;
    }

    .flame2 {
        margin-left: 220px;
        margin-top: 520px;
        max-width: 100px;
        animation: flame2 2s infinite;
    }

    .flame3 {
        margin-left: 420px;
        margin-top: 550px;
        max-width: 150px;
        animation: flame3 2s infinite;
    }

    .lightning,
    .lightningS {
        width: 30px;
        margin-left: 330px;
        margin-top: 120px;
        z-index: 80;
        animation: lightning 6s infinite;

    }

    .lightningS {
        margin-left: 350px;
        margin-top: 200px;

    }

    .tornado,
    .tornado2 {
        width: 80px;
        margin-left: 40px;
        margin-top: 340px;
        animation: tornado 6s infinite;
        z-index: 100;
    }

    .tornado2 {
        animation: tornado2 4s infinite;
        z-index: 99;
    }


    .info-txt {
        margin-top: 200px;
        max-width: 400px;
        line-height: 35px;
        font-size: 25px;
    }

    .flower-div {
        position: absolute;
        width: 400px;
        z-index: 100;
        margin-left: 700px;
        margin-top: 490px;
        height: 100px;
        display: flex;
        flex-direction: row;

        .flower {
            width: 30px;

        }

        .flower1 {
            margin-bottom: 35px;
        }

        .flower2 {
            margin-bottom: 15px;
        }

        .flower3 {
            margin-bottom: 20px;
        }

        .flower4 {
            margin-bottom: -5px;
        }

        .flower5 {
            margin-bottom: -20px;
        }

        .flower6 {
            margin-bottom: -40px;
        }

        .flower7 {
            margin-bottom: -35px;
        }

        .flower8 {
            margin-bottom: -65px;
        }
    }
}