@use './colors';
@use './fonts';
@use './animation';
@use './scrollmagic';
@use './stylesRainSnow';
@use './stylesFrames';
@use './mediaQuieries';


* {
    padding: 0;
    margin: 0;
}


body {
    width: 100%;
    
    #infoBtn {
        z-index: 200;
        position: fixed;
        border: none;
        background-color: white;
        font-family: fonts.$fontJosefinSans;
        font-size: 18px;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        margin-top: 3vh;
        margin-left: 2vw;
    }

    #infoBtn:hover,
    #topBtn:hover {
        background-color: black;
        color: white;
        transition-duration: 1s;
    }

    #infoFrame {

        position: fixed;
        background-color: white;
        height: 410px;
        width: 400px;
        margin: 0 auto;
        z-index: 300;
        margin-top: 27vh;
        margin-left: 1vw;
        overflow:scroll;
        border-radius:10px;
        border: .5px dotted rgb(151, 151, 151);
      


        .infoFrame--h1 {

            margin-top: 20px;
            padding-bottom: 10px;
            font-size: 20px;
        }

        .infoFrame--p {
            font-size: 18px;
            line-height: 25px;
            max-width: 80ch;
            width: 70%;

        }

        #closeBtn {
            z-index: 300;
            position: absolute;
            border: none;
            background-color: black;
            color: white;
            font-family: fonts.$fontJosefinSans;
            font-size: 18px;
            cursor: pointer;
            margin-top: 30px;
            height: 50px;
            width: 60px;
            border-radius: 5px;

        }

        #closeBtn:hover {
            background-color: white;
            color: black;
        }


    }

    #topBtn {
        z-index: 100;
        position: absolute;
        border: none;
        background-color: white;
        color: black;
        font-family: fonts.$fontJosefinSans;
        font-size: 18px;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        margin-top: 90vh;
        margin-left: 90vw;

    }



    h1,
    p {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

    #aboutText { /* What is this doing? */
        display: none;
    }

    p {
        font-family: fonts.$fontJosefinSans;
        font-size: 25px;
        max-width: 500px;
        line-height: 35px;
        font-weight: 1000;

    }

    h1 {
        margin-top: 280px;
        font-family: fonts.$fontLibreBaskerville;
        color: colors.$title;
    }

    .text--infoTxt {
        margin-top: 200px;
        max-width: 400px;
        line-height: 35px;
        font-size: 25px;
    }

    .text--globalwarming {
        margin-top: 200px;
    }

    .text--info {
        font-size: 18px;
        line-height: 30px;
        max-width: 500px;
    }

    .text--h1frame2 {
        max-width: 500px;
        font-size: 25px;
        margin-top: 190px;
        line-height: 40px;
    }

    .text--pframe2 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }

    .text--h1frame9 {
        margin-top: 190px;
    }

    .text--pframe2 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }

    .text--pframe10 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }

    .text--pframe11 {
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }

    .frames {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .frames__ground {
        margin-top: auto;
        bottom: 0;
        width: 100%;
        position: fixed;

    }

    .frames__tree,
    .frames__pinetree,
    .frames__cloud,
    .frames__pinetree--small,
    .frames__lightning,
    .frames__lightning--small,
    .frames__cloud--2,
    .frames__bird--1,
    .frames__bird--2 {
        width: 240px;
        margin-top: 230px;
        z-index: 100;
        position: absolute;
    }

    .frames__tree {
        width: 300px;
        left: 1000px;
        margin-top: 250px;
        position: absolute;

    }

    .frames__pinetree {
        left: 50px;
        width: 220px;
        margin-top: 370px;
        position: absolute;
    }

    .frames__pinetree--small {
        width: 140px;
        left: 250px;
        margin-top: 390px;
        position: absolute;
    }

    .frames__cloud {
        margin-top: 50px;
        width: 200px;
        animation: cloud 6s infinite;
    }

    .frames__cloud--2 {
        margin-top: 100px;
        animation: cloud2 6s infinite;
    }

    .cloud--sunsky {
        width: 190px;
        margin-top: 20px;
    }

    .cloud--sun {
        margin-top: 10px;
        width: 250px;
    }

    .frames__earth {
        width: 120px;
        margin-left: 900px;
        margin-top: -350px;
        animation: earth 5s ease;
    }

    .frames__bunny {
        max-width: 80px;
        left: 250px;
        margin-top: 650px;
        position: absolute;
        z-index: 100;
        animation: bunny 10s infinite;
    }

    .frames__bird--1,
    .frames__bird--2 {
        max-width: 50px;
        z-index: 200;
    }

    .frames__bird--1 {
        animation: bird1 10s infinite;
    }

    .frames__bird--2 {
        animation: bird2 10s infinite;
    }

    .frames__flame--1,
    .frames__flame--2,
    .frames__flame--3 {
        z-index: 100;
        position: absolute;
    }

    .frames__flame--1 {
        margin-left: 50px;
        margin-top: 590px;
        max-width: 120px;
        animation: flame1 2s infinite;
    }

    .frames__flame--2 {
        margin-left: 220px;
        margin-top: 520px;
        max-width: 100px;
        animation: flame2 2s infinite;
    }

    .frames__flame--3 {
        margin-left: 420px;
        margin-top: 550px;
        max-width: 150px;
        animation: flame3 2s infinite;
    }

    .frames__statometer {
        z-index: 100;
        position: absolute;
        margin-left: 700px;
        margin-top: 80px;
        max-width: 15px;
        animation: text 3s infinite;
    }

    .frames__heatwave {
        z-index: 100;
        position: absolute;
        max-width: 100px;
    }

    .heatwave--wave1 {
        margin-left: 420px;
        margin-top: 580px;
        animation: heatwave1 4s infinite;

    }

    .heatwave--wave2 {
        margin-left: 620px;
        margin-top: 500px;
        animation: heatwave2 4s infinite;
    }

    .heatwave--wave3 {
        margin-left: 820px;
        margin-top: 590px;
        animation: heatwave3 4s infinite;
    }


    .frames__lightning,
    .frames__lightning--small {
        width: 30px;
        margin-left: 150px;
        margin-top: 120px;
        z-index: 80;
        animation: lightning 6s infinite;

    }

    .frames__lightning--small {
        margin-left: 170px;
        margin-top: 200px;

    }

    .frames__tornado--1
     {
        width: 80px;
        margin-left: 400px;
       
        animation: tornado 6s infinite;
        z-index: 102;
    }

  

    .frames__flowerDiv {
        position: absolute;
        width: 400px;
        z-index: 100;
        margin-left: 700px;
        margin-top: 490px;
        height: 100px;
        display: flex;
        flex-direction: row;

        .flowerDiv__flower {
            width: 30px;
        }

        .flower--flower1 {
            margin-bottom: 35px;
        }

        .flower--flower2 {
            margin-bottom: 15px;
        }

        .flower--flower3 {
            margin-bottom: 20px;
        }

        .flower--flower4 {
            margin-bottom: -5px;
        }

        .flower--flower5 {
            margin-bottom: -20px;
        }

        .flower--flower6 {
            margin-bottom: -40px;
        }

        .flower--flower7 {
            margin-bottom: -35px;
        }

        .flower--flower8 {
            margin-bottom: -65px;
        }
    }

    .frames__wind {
        width: 100px;
        position: absolute;
        z-index: 300;
        margin-top: 100px;
        animation: wind 10s infinite;

    }

    .frames__snowman--1 {
        width: 100px;
        position: absolute;
        margin-top: 590px;
        margin-left: 85vw;
        animation: snowman 4s infinite;
        z-index: 100;

    }
    .frames__snowman--2 {
        width: 100px;
        position: absolute;
        margin-top: 590px;
        margin-left: 85vw;
        animation: snowman 4s infinite;
        z-index: 100;

    }
    .frames__snowman--3 {
        width: 110px;
        position: absolute;
        margin-top: 570px;
        margin-left: 85vw;
        animation: snowman 4s infinite;
        z-index: 100;

    }
    .frames__meltdrop--1,
    .frames__meltdrop--2,
    .frames__meltdrop--3 {
        width: 20px;
        position: absolute;
        z-index: 100;
    }
    .frames__meltdrop--1 {
        margin-top: 500px;
        margin-left: 30vw;
        animation: meltdrop1 6s infinite;
    }
    .frames__meltdrop--2 {
        margin-top: 580px;
        margin-left: 35vw;
        animation: meltdrop2 4s infinite;
    }
    .frames__meltdrop--3 {
        margin-top: 540px;
        margin-left: 40vw;
        animation: meltdrop3 7s infinite;
    }
}